<h1>Listing recruiters</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Recruitername</th>
    <th>Email</th>
    <th>Feedback</th>
    <th>Telephone</th>
    <th>Scheduleddate</th>
    <th>Scheduledtime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recruiters.each do |recruiter| %>
  <tr>
    <td><%= recruiter.company_id %></td>
    <td><%= recruiter.recruiterName %></td>
    <td><%= recruiter.email %></td>
    <td><%= recruiter.feedback %></td>
    <td><%= recruiter.telephone %></td>
    <td><%= recruiter.scheduledDate %></td>
    <td><%= recruiter.scheduledTime %></td>
    <td><%= link_to 'Show', recruiter %></td>
    <td><%= link_to 'Edit', edit_recruiter_path(recruiter) %></td>
    <td><%= link_to 'Destroy', recruiter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recruiter', new_recruiter_path %>
